
<%- include('header.ejs') %>




<main class="main-content">
    <h2>"Exprimez votre style, quelle que soit votre taille."</h2>
    <h3>Voici le produit phare du moment pour commencer une saison d'automne tout en beauté</h3>

    <div class="product">
        <img src="photovestesuedine.jpg" alt="Image de mode">
        <img src="pexels-cottonbro-studio-5654760.jpg" alt ="Image de mode">
        <img src="pexels-jennifer-enujiugha-2395921.jpg" alt ="Image de mode">
        <h3>Veste unie en suédine</h3>
        <p>Description : Veste unie En suédine Manches longues Col V Coupe courte et droite Fermeture et poches zippées Longueur de 65 cm pour une taille 48</p>
        <a href="#" class="btn-acheter">Acheter Maintenant</a>
    </div>
</main>


          <a href="/" class="back-to-home">Retour à l'accueil</a>
 
<%- include('footer.ejs') %>
