<%- include ('header.ejs') %>
            <main class="content">
            <h2>Bienvenue sur CurvyEleganceHub</h2>
                <p>ton hub de mode dédié aux femmes grandes tailles ! Chez nous, nous croyons en la beauté de toutes les formes et tailles. 
                Notre boutique en ligne est spécialement conçue pour les femmes qui recherchent des vêtements élégants,
                tendance et confortables, mettant en valeur leur silhouette avec style.</p>
                <h3>Notre Mission</h3>
                <p>À CurvyEleganceHub, notre mission est de rendre la mode accessible à toutes les femmes,
                indépendamment de leur taille. Nous croyons que chacune mérite de se sentir confiante et belle dans ses vêtements.
                C'est pourquoi nous nous efforçons de proposer une large gamme de vêtements grande taille,
                soigneusement sélectionnés pour leur qualité, leur style et leur coupe flatteuse.</p>
                <h3>Notre Engagement envers l'Accessibilité</h3>
                <p>Nous sommes fiers d'être une boutique en ligne accessible à tous.
                Notre site web est conçu pour offrir une expérience fluide aux personnes malvoyantes
                et aux personnes dyslexiques.
                Nous avons mis en place des fonctionnalités spéciales pour garantir
                que chaque visiteur puisse naviguer et faire des achats en toute simplicité.</p>
                <h3>L'Équipe CurvyEleganceHub</h3>
                <p>Rencontrez l'équipe passionnée derrière CurvyEleganceHub ! Nous sommes un groupe de professionnels de la mode,
                dévoués à aider nos clientes à trouver les tenues parfaites. Notre équipe est là pour vous guider,
                répondre à vos questions et vous offrir un service client exceptionnel à chaque étape de votre parcours d'achat.</p>
                <h3>Contactez-nous</h3>
                <p>N'hésitez pas à nous contacter si vous avez des questions, des préoccupations ou si vous avez besoin d'aide pour trouver des articles spécifiques. 
                Notre équipe est là pour vous aider et s'assurer que votre expérience shopping chez CurvyEleganceHub soit exceptionnelle.</p>
           
       
      
    </main>
          <a href="/" class="back-to-home">Retour à l'accueil</a>
 
<%- include('footer.ejs') %>

