<%- include ('header.ejs') %>

    <main class="content">
        <h2>Informations de Compte</h2>
        <p>Nom d'utilisateur : VotreNom</p>
        <p>Email : VotreEmail</p>
        
    </main>
    <a href="/"  class="back-to-home">Retour à l'accueil</a>
 
          
          <%-include('footer.ejs') %>
          
  
    
 