<%- include ('header.ejs') %>

<main class="content">
    <h2>Votre Panier</h2>
    
    <div class="product">
        <h3>Nom du Produit</h3>
        <p>Quantité:</p>
        <p>Prix unitaite:</p>
    </div>
    <div class="product">
        <h3></h3>
        <p>Quantité: </p>
        <p>Prix unitaire: </p>
    </div>
    
    <p>Total à payer:</p>
</main>

<a href="/"  class="back-to-home">Retour à l'accueil</a>

<%- include('footer.ejs') %>

