<%- include ('header.ejs') %>


<main class="content">
    <h2>Nos Produits</h2>
    
    <div class="product">
        <img src="chemise.jpg" alt="Chemise élégante">
        <h3>Chemise Élégante</h3>
        <p>Description du produit. </p>
        <p>Prix: </p>
        <button class="btn-acheter">Ajouter au Panier</button>
    </div>
    
    <div class="product">
        <img src="robe.jpg" alt="Robe de soirée">
        <h3>Robe de Soirée</h3>
        <p>Description du produit.</p>
        <p>Prix: </p>
        <button class="btn-acheter">Ajouter au Panier</button>
    </div>

 
</main>

    <a href="/" class="back-to-home">Retour à l'accueil</a>

<%- include('footer.ejs') %>
