<%- include ('header.ejs') %>

    <main class="content">
        <h1>Termes et conditions</h1>
        
        
        <p>En utilisant ce site, vous acceptez nos termes et conditions...</p>
    </main>

   

    
    
    
  <a href="/"  class="back-to-home">Retour à l'accueil</a>

<%- include('footer.ejs') %>

